<div class="cohorts-edit">

  <div class="back-links">
    <%= link_to 'Back', cohort_path %>
  </div>

  <h1> Update Cohort Information </h1>

  <%= render 'form', cohort: @cohort, location: 'cohorts-page' %>

</div>