<div class="cohorts-new">

  <div class="back-links">
    <%= link_to 'Back', course_path(@course.id)  %>
  </div>

  <h1> Enter Cohort Information </h1>

  <%= render 'form', cohort: @cohort, location: 'cohorts-page' %>

</div>