<div class="instructors-form">

  <div class="back-link">
    <%= link_to 'Back', instructor_path %>
  </div>

  <h1> Update Instructor Information </h1>

  <%= render 'form', instructor: @instructor %>

</div>