<div class="instructors-new">

  <div class="back-links">
    <%= link_to 'Back', instructor_path %>
  </div>

  <h1> Enter Instructor Information </h1>

  <%= render 'form', instructor: @instructor, location: 'instructors-page' %>

</div>