<div class="instructors-form">

  <div class="back-link">
    <%= link_to 'Back', cohort_path(@cohort.id) %>
  </div>

  <h1> Enter Instructor Information </h1>

  <%= render 'form', instructor: @instructor %>

</div>