<footer>
  
  <nav>
    <ul>
      <li><a href="#"><i class="flaticon-facebook"></i></a></li>
      <li><a href="#"><i class="flaticon-instagram"></i></a></li>
      <li><a href="#"><i class="flaticon-youtube"></i></a></li>
      <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
    </ul>
  </nav>

  <%= copyright_generator %>

<footer>