<div class="hero">

  <div class="hero-text">

    <h2> The Academy for you! </h2>
    <p> Some catch text </p>

  </div> 

  <%= link_to "Learn More > > >", about_us_path %>

</div>

<div class="home-intro">

  <h2> Developing future heroes </h2>

  <p> 
    At Rubicks, we help both our students and staff develop their potential to the fullest. We care about your personal development above all else. <a href="#">Learn More  > > ></a>
  </p>

</div>



