<div class="hero">

  <div class="hero-text">

      <h1> The Academy for you! </h1>
      <p> Some catch text </p>
      <span><%= link_to "Learn More > > >", about_us_path %></span>

  </div>

</div>

