<div class="courses-edit">

  <div class="back-link">

    <%= link_to 'Back', courses_path %>
    
  </div>

  <h1>Update Course Information</h1>

  <%= render 'form', course: @course, location: 'courses-page' %>

</div>