/* COHORTS INDEX */

.cohorts-index {
  grid-area: body;
  display: grid;
  grid-template-columns: .25fr 1.75fr;
  grid-auto-rows: auto;
  height: auto;
}

.cohorts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  'title title title'
  'create create create'
  'card card card';
  height: 50%;
  margin: 50px 0 20px 0;
}

.cohorts-grid h1 {
  grid-area: title;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  letter-spacing: .2rem;
  margin-bottom: 15px;
  background-color: rgba(214,114,0,.8);
  padding: 10px 20px;

}

.cohorts-list {
  grid-area: card;
  width: 90%;
  margin: 0px auto;
}

.cohorts-info {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(244, 244, 244, .85);
  box-shadow: 5px 10px 35px 5px rgba(56,56,56,.7);  
}

.cohorts-info * {
  margin-bottom: 5px;
}

.cohorts-info h3 {
  font-size: 2.2rem;
}

.cohorts-info h3:hover {
  color: rgba(214, 114, 0, 1);
}

.cohorts-info p {
  font-size: 1.2rem;
  padding: 15px 0;
}

.link-instructor:hover {
  color: rgba(214, 114, 0, 1);
  font-weight: 700;
}

.cohorts-links a {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
}

.cohorts-links a:hover {
  color: rgba(214, 114, 0, 1);
}

/* COHORT SHOW */

.cohorts-show {
  grid-area: body;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
  'back back back'
  'details details details'
  'list list list';
  height: auto;
}

.back-links {
  grid-area: back;
  align-self: center;
  justify-self: center;
  padding: 30px 5px 15px 15px;
  margin: 50px 10px;
}

.back-links a {
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: rgba(214, 114, 0, 1);
  border-radius: 10px;
}

.back-links a:hover {
  font-weight: bold;
  transition: .8s;
  background-color: rgba(250, 175, 0, 1);  
}

.cohort-details {
  grid-area: details;
  margin-bottom: 30px;
  padding: 30px;
  background-color: rgba(10, 10, 10, .8);
  color: var(--white);
}

.course-details h1 {
  font-size: 2.8rem;
  letter-spacing: .15rem;
}

.course-details p {
  font-size: 1.3rem;
}


.cohort-info {
  grid-area: list;
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(244, 244, 244, .85);
  box-shadow: 5px 10px 35px 5px rgba(56,56,56,.7);  
}

.cohort-info h3 {
  font-size: 2.2rem;
  margin: 15px 0;
}

.cohort-students {
  margin-bottom: 30px;
  padding: 15px;
}

.terminate a {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(249, 11, 42, .8);
  color: var(--white);
  border-radius: 8px;
}

.terminate a:hover {
  background-color: rgb(244, 0, 32);
}

/* NEW AND EDIT PAGES */

.cohorts-form {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'back . '
  'title title'
  'form form';
  height: auto;
  padding: 50px;
  background: linear-gradient(45deg, rgba(214,114,0,1) 0%, rgba(250,175,0,.85) 100%);
}

.back-link {
  grid-area: back;
  align-self: center;
  justify-self: start;
  padding: 10px 30px;
  background-color: rgba(5, 5, 5, .7);
  color: var(--white);
  font-size: 1.3rem;
  border-radius: 8px;
  font-weight: bold;
}

.back-link:hover {
  background-color: var(--white);
  color: rgba(214, 114, 0, 1);
  transition: .8s;
}

.cohorts-form h1 {
  grid-area: title;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

/* COHORTS SHOW PAGE */

.cohorts-show {
  grid-area: body;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
  'back back back'
  'details details details'
  'list list list';
  height: auto;
}

.back-links {
  grid-area: back;
  align-self: center;
  justify-self: center;
  padding: 30px 5px 15px 15px;
  margin: 50px 10px;
}

.back-links a {
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: rgba(214, 114, 0, 1);
  border-radius: 10px;
}

.back-links a:hover {
  font-weight: bold;
  transition: .8s;
  background-color: rgba(250, 175, 0, 1);  
}

.cohort-details {
  grid-area: details;
  margin-bottom: 30px;
  padding: 30px;
  background-color: rgba(10, 10, 10, .8);
  color: var(--white);
}

.cohort-details h1 {
  font-size: 2.8rem;
  letter-spacing: .15rem;
}

.course-details p {
  font-size: 1.3rem;
}

.cohort-info {
  grid-area: list;
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(244, 244, 244, .85);
  box-shadow: 5px 10px 35px 5px rgba(56,56,56,.7);  
}

.cohort-info h3 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.emphasis {
  font-weight: bold;
  font-size: 1.2rem;
}

.cohort-info span {
  padding: 10px 5px;
  margin-right: 10px;
}

.terminate a {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(249, 11, 42, .8);
  color: var(--white);
  border-radius: 8px;
}

.terminate a:hover {
  background-color: rgb(244, 0, 32);
}