.dashboard {
  grid-area: body;
  display: grid;
  grid-template-columns: .25fr 1.75fr;
  grid-auto-rows: auto;
  height: auto;
}

.dashboard-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.dashboard-items div {
  width: 60%;
  height: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 5px 10px 35px 5px rgba(56,56,56,1);
}

