.dashboard {
  grid-area: body;
  display: grid;
  grid-template-columns: .25fr 1.75fr;
  grid-auto-rows: auto;
  height: auto;
}

.sidebar {
  background: linear-gradient(45deg, rgba(214,114,0,1) 0%, rgba(250,175,0,.85) 100%);
  color: var(--white);
  padding: 50px;
}
